.Chat-main
  .Main-header
    .Main-header__left-box
      %p.Main-header__left-box__group-name 
        = @group.name
      %ul.Main-header__left-box__member-list
        %li.Main-header__left-box__member Member: 
        %li.Main-header__left-box__member
          - @group.users.each do |user|
            = user.name
    = link_to edit_group_path(@group), class: "Main-header--edit-btn" do
      Edit
  .Messages
    = render @messages
  .Main-fotter
    = form_with model: [@group, @message], html: {class: "Form-box"}, local: true do |f|
      .Form-box__content
        = f.text_field :content, class: 'Form-box__content__text', placeholder: 'type a message'
        = f.label :image, class: 'Form-box__content__image' do
          = icon('far', 'image', class: 'Form-box__content__image__icon')
          = f.file_field :image, class: 'Form-box__content__image__file'
      = f.submit 'Send', class: 'Form-box__btn'